/******************************/

.delivery .img_text
{
 display: flex;
  align-items: flex-start;
}

.delivery .left_img
{
  width: 35%;
  display: block;
}

.delivery .right_text
{
  width: 65%;
  padding-left: 70px;
}

.delivery .top_box
{
  font-size: 26px;
  color: #FFFFFF;
  line-height: 1.4;
}

.delivery .low_box
{
  color: #ADADAD;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 1.8;
}

.delivery .title
{
  font-size: 50px;
  text-align: center;
}

.delivery .adv_box
{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.delivery .adv_item
{
  width: calc(33.3% - 15px);
  margin-bottom: 30px;
  background: #222222;
  border-radius: 20px;
  padding: 50px;
}

.delivery .adv_title
{
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(to right, #82D6FF, #8F00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delivery .adv_text,
.delivery .adv_text *
{
  font-weight: 500;
  font-size: 18px;
  color: #ADADAD;
  line-height: 1.8;
}

.delivery .regions_box
{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.delivery .box
{
  width: calc(50% - 25px);
}

.delivery .box_title
{
  font-size: 26px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.delivery .location
{
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.delivery .price
{
  font-size: 26px;
  color: #FFFFFF;
}

.delivery .about_price
{
  font-size: 17px;
  color: #7C7979;
  font-weight: 500;
  margin-left: 20px;
}

.delivery .price_line
{
  display: flex;
  align-items: flex-end;
}

.delivery .delimeter
{
  background: #252525;
  height: 1px;
  margin: 40px 0;
}

.delivery .about_text
{
  font-size: 18px;
  font-weight: 500;
  color: #ADADAD;
  margin-bottom: 40px;
  line-height: 1.8;
}

.delivery .cursive
{
  color: #FFFFFF;
}

.delivery .brand_box
{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.delivery .brand_item
{
  color: #ADADAD;
  font-size: 18px;
  font-weight: 500;
  width: calc(33.3% - 10px);
  margin-bottom: 10px;
}

/************************/

.payment .go_to_catalog
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  border-radius: 80px;
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  background:linear-gradient(-45deg,#1c1620 0%,#3c3481 50%,#4182d2 100%);
}

.payment .button_line
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 0 70px 0;
}

.payment .butt_item
{
  border: none;
  position: relative;
  padding: 30px 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500; 
  border-radius: 7px;
  width: calc(33.3% - 17px);
  background: linear-gradient(135deg, #8E8E8E33, #9C9C9C00);
}

.payment .butt_item.active
{
  background: linear-gradient(135deg, #5F9EFF, #8F00FF00) !important;
}

.butt_item:hover::before 
{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 7px; 
  padding: 3px; 
  background:linear-gradient(-45deg,#AD00FF00,#5F9EFF); 
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude; 
}

.payment .about_pay
{
  display: flex;
  align-items: flex-start;
}

.payment .doc_img
{
  width: 115px;
}

.payment .tab_box
{
  width: calc(100% - 115px);
  padding-left: 80px;
}

.payment .tab_title
{
  font-size: 26px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.payment .tab_text,
.payment .tab_text *
{
  color: #ADADAD;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.payment .about_card
{
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.payment .card_box
{
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 20px 0;
}

.payment .card_item
{
  background: #222222;
  border-radius: 20px;
  padding: 50px;
  margin: 0 15px 15px 0;
  display: flex;
  align-items: center;
}

.payment .polite .grad-text
{
  font-size: 14px;
  font-weight: 700;
  margin: 0 20px 0 0;
}

.payment .polite
{
  display: flex;
  align-items: center;
}

.payment .bank_item
{
  background: #222222;
  border-radius: 20px;
  padding: 40px 70px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-weight: 500;
}

.payment .bank_img
{
  width: 250px;
  display: block;
  margin-top: 20px;
}

.payment .bank_img img
{
  display: block;
  width: 100%;
}

.payment .bank_text
{
  width: calc(100% - 250px);
  padding-left: 70px;
  color: #ADADAD;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.payment .bank_text *
{
  color: #ADADAD;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}

.payment .ur_pers .tab_text
{
  margin-bottom: 30px;
}

.payment .bank_item.lizing .bank_img img
{
  display: none !important;
}

.payment .lizing_text
{
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.payment .bank_item.lizing .lizing_text
{
  display: block !important;
}

.payment .bank_text a
{
  color: #84B4FF !important;
}

.payment .cont_box
{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 40px 0;
}

.payment .cont_item
{
  margin-right: 100px;
  margin-bottom: 10px;
}

.payment .cont_item:last-child
{
  margin-right: 0px
}

.payment .label
{
  color: #ADADAD;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.payment .cont-text
{
  color: #FFFFFF;
  font-size: 40px;
}

.payment
{

}

.payment
{

}

.payment
{

}

.payment
{

}

.payment
{

}

.payment
{

}

.payment
{

}

.payment
{

}